<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @stock.item %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @stock.warehouse %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
